{% extends 'base.html' %}
{% load static %}
    {% block page_title %}Прайс-лист на радиодетали, электронный лом{% endblock %}

    {% block opg %}
    <meta property="og:title" content="Цены на радиодетали в Минске и Беларуси. Прайс-лист — ООО «РесайклПро»" />
    <meta property="og:description" content="➤ Цены на радиодетали. ✅ Высокие цены. ✅ Более 10+ пунктов приема по Беларуси. ✅ Моментальная выплата. ✅ На 100% легально! ✅ Прайс-лист на сайте!"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static '/img/logo.png' %}"/>
    {% endblock %}
    {% block scripts %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Какие детали вы принимаете?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Мы принимаем все детали перечисленные на сайте и в <a href={% static 'materials/price.pdf' %}>прайс-листе</a></p>"
        }
      }, {
        "@type": "Question",
        "name": "Как сдать Вам детали? Что для этого надо, куда ехать?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>При сдаче электронного лома необходимо предъявить паспорт. Посмотреть адреса и режим работы пунктов приема можно <a href={% url 'priem' %}>посмотреть на этой старнице</a></p>"
        }
      }, {
        "@type": "Question",
        "name": "Как узнать сколько мне заплатят за определенные детали?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Актуальные цены указаны в <a href={% static 'materials/price.pdf' %}>прайс-листе</a>, также вы можете возпользоваться калькулятором на главной странице или позвонить нам.</p>"
        }
      }, {
        "@type": "Question",
        "name": "Радиодетали не перечисленные в прейскуранте, Вы не принимаете?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Мы принимаем все детали перечисленные в прайс-листе.</p>"
        }
      }]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
          {
              "@type": "ImageObject",
              "@id": "{{ category.cat_image.url }}",
              "url": "{{ category.cat_image.url }}",
              "contentUrl": "{{ category.cat_image.url }}"
          }]
    }
    </script>
    {% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="wrapper bg-light">
            <div class="container pt-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb" id="breadcrumblist" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">Домашняя страница</a>
                        <meta itemprop="position" content="1" />
                        <meta itemprop="name" content="Домашняя страница"/>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="inactiveLink" itemprop="item" href="{% url 'category' %}">Каталог</a>
                        <meta itemprop="position" content="2" />
                        <meta itemprop="name" content="Каталог"/>
                    </li>
                  </ol>
                </nav>
            </div>
    </section>
		<section class="wrapper bg-light">
			<div class="container pt-3 pt-md-3">
				<div class="row">
					<div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5">
						<h1 class="display-1 mb-3">Скупаем радиолом оптом и в розницу</h1>
                        <p class="lead fs-lg pe-lg-15 pe-xxl-12">Посмотрите наши продукты или <a href="{% static 'materials/price.pdf' %}">скачайте расширенный прайс</a></p>


					</div>
					<!-- /column -->
   				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /section -->
		<section class="wrapper bg-light">
			<div class="container pb-10 pt-10">
				<div class="grid grid-view projects-masonry">

					<div class="row gx-md-8 gy-10 gy-md-13 isotope">

                        {% for category in categorys %}
						<div class="project item col-md-6 col-xl-4 product">
                        <div class="post-header">
									<div class="post-title h3">{{ category.cat_name }}</div>
								</div>
							<figure class="lift rounded mb-6"><a href={% url 'products' cat_slug=category.cat_slug %}> <img src={{ category.cat_image.url }} alt="" /></a></figure>
							<div class="project-details d-flex justify-content-center flex-column">

								<!-- /.post-header -->
							</div>
							<!-- /.project-details -->
						</div>
                        {% endfor %}

					</div>
					<!-- /.row -->
				</div>
				<!-- /.grid -->
			</div>
			<!-- /.container -->
		</section>

		<!-- /section -->

<section class="wrapper bg-light wrapper-border">
			<div class="container py-10">
				<div class="card bg-soft-primary rounded-4">
					<div class="card-body p-md-10 p-xl-11">
						<div class="row gx-lg-8 gx-xl-12 gy-10">
							<div class="col-lg-6">
								<h2 class="display-4 mb-4">Часто задаваемые вопросы</h2>
								<p class="lead fs-lg mb-0">Если вы не нашли ответа на свой вопрос позвоните нам или закажите <a href="#" data-bs-toggle="modal" data-bs-target="#modal-01">обратный звонок</a></p>
							</div>
							<!--/column -->
							<div class="col-lg-6">
								<div class="accordion accordion-wrapper" id="accordionExample">
									<div class="card plain accordion-item">
										<div class="card-header" id="headingOne">
											<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Какие детали вы принимаете?</button>
										</div>
										<!--/.card-header -->
										<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											<div class="card-body">
												<p>Мы принимаем все детали перечисленные на сайте и в <a href="{% static 'materials/price.pdf' %}">прайс-листе</a></p>
											</div>
											<!--/.card-body -->
										</div>
										<!--/.accordion-collapse -->
									</div>
									<!--/.accordion-item -->
									<div class="card plain accordion-item">
										<div class="card-header" id="headingTwo">
											<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Как сдать Вам детали? Что для этого надо, куда ехать?</button>
										</div>
										<!--/.card-header -->
										<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
											<div class="card-body">
                                                <p>При сдаче электронного лома необходимо предъявить паспорт. Посмотреть адреса и режим работы пунктов приема можно <a href="{% url 'priem' %}">посмотреть на этой старнице</a></p>
											</div>
											<!--/.card-body -->
										</div>
										<!--/.accordion-collapse -->
									</div>
									<!--/.accordion-item -->
									<div class="card plain accordion-item">
										<div class="card-header" id="headingThree">
											<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Как узнать сколько мне заплатят за определенные детали?</button>
										</div>
										<!--/.card-header -->
										<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
											<div class="card-body">
												<p>Актуальные цены указаны в <a href="{% static 'materials/price.pdf' %}">прайс-листе</a>, также вы можете возпользоваться калькулятором на главной странице или позвонить нам.</p>
											</div>
											<!--/.card-body -->
										</div>
										<!--/.accordion-collapse -->
									</div>
									<!--/.accordion-item -->
									<div class="card plain accordion-item">
										<div class="card-header" id="headingFour">
											<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Радиодетали не перечисленные в прейскуранте, Вы не принимаете?</button>
										</div>
										<!--/.card-header -->
										<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
											<div class="card-body">
												<p>Мы принимаем все детали перечисленные в прайс-листе.</p>
											</div>
											<!--/.card-body -->
										</div>
										<!--/.accordion-collapse -->
									</div>
									<!--/.accordion-item -->
								</div>
								<!--/.accordion -->
							</div>
							<!--/column -->
						</div>
						<!--/.row -->
					</div>
					<!--/.card-body -->
				</div>
				<!--/.card -->
			</div>
			<!-- /.container -->
		</section>
	</div>
	<!-- /.content-wrapper -->

{% endblock %}