{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    <title>РесайклПро - переработка электронного оборудования</title>
    {% endblock %}



{% block content %}

<div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
        <nav class="navbar center-nav transparent navbar-expand-lg navbar-light">
            <div class="container flex-lg-row flex-nowrap align-items-center">
                <div class="navbar-brand"><a href={% url 'home' %}><img class='logoimg' src={% static "/img/logo.png" %} alt=""/></a></div>
                <div class="navbar-collapse offcanvas-nav">
                    <div class="offcanvas-header d-lg-none d-xl-none">
                        <a href={% url 'home' %}><img class='logoimg'
                                src={% static "/img/logo-light.png" %} srcset={% static "/img/logo-light@2x.png 2x" %}
                                alt=""/></a>
                        <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close"
                                aria-label="Close"></button>
                    </div>
                    <ul class="navbar-nav">


                        <li class="nav-item "><a class="nav-link" href={% url 'category' %}>Каталог</a>

                        </li>
                        <li class="nav-item"><a class="nav-link" href={% url 'contact' %}>Контакты</a>

                        </li>
                        <li class="nav-item "><a class="nav-link" href={% url 'news' %}>Новости {% if stock %}
    <span class="badge bg-red rounded-pill">Акция</span>
                            {% endif %}</a>

                        </li>

                        <li class="nav-item"><a class="nav-link" href={% url 'punkty' %}>Пункты приема</a>

                        </li>

<li class="nav-item"><a class="nav-link has-submenu" href="elements.html" id="sm-162677704259718-37" aria-haspopup="true" aria-controls="sm-162677704259718-38" aria-expanded="false">Услуги<span class="sub-arrow"></span></a>
                <ul class="dropdown-menu mega-menu sm-nowrap hide-animation" id="sm-162677704259718-38" role="group" aria-hidden="true" aria-labelledby="sm-162677704259718-37" aria-expanded="false" style="width: auto; display: none; top: auto; left: 0px; margin-left: -547px; margin-top: 0px; min-width: 10rem; max-width: 25rem;">
                  <li class="mega-menu-content">
                    <div class="row gx-0 gx-lg-3">
                      <div class="col-lg-6">
                        <h6 class="dropdown-header">Физическим лицам</h6>
                        <div class="row gx-0">
                          <div class="col-lg-6">
                            <ul class="list-unstyled">
                              <li><a class="dropdown-item scroll" href={% url 'priem' %}>Прием бытовой техники</a></li>
                              <li><a class="dropdown-item scroll" href={% url 'vyvoz' %}>Вывоз бытовой техники</a></li>

                            </ul>
                          </div>
                          <!--/column -->

                          <!--/column -->
                        </div>
                        <!--/.row -->
                      </div>
                      <!--/column -->
                      <div class="col-lg-3">
                        <h6 class="dropdown-header">Юридическим лицам</h6>
                        <ul class="list-unstyled">
                         <li><a class="dropdown-item scroll" href={% url 'spisanie' %}>Переработка (списание) электронного оборудования</a></li>
                         <li><a class="dropdown-item scroll" href={% url 'yuriki' %}>Переработка лома и отходов драгметаллов</a></li>
                         <li><a class="dropdown-item scroll" href={% url 'bezvozm' %}>Безвозмездная сдача техники</a></li>
                        </ul>
                      </div>
                      <!--/column -->

                      <!--/column -->
                    </div>
                    <!--/.row -->
                  </li>
                  <!--/.mega-menu-content-->
                </ul>
                <!--/.dropdown-menu -->
              </li>




                    </ul>

                </div>

                <div class="navbar-other w-20 p-1 ms-auto">
                    <div class="contact-item w-100"><a href="tel:info@rpro.by" class="link-body"> <i class="uil uil-phone-volume"></i> (29) 392-44-92</a></div>
                    <div class="contact-item w-100"><a href="mailto:info@rpro.by" class="link-body"> <i class="uil uil-envelope-heart"></i> info@rpro.by</a></div>

                </div>
                <!-- /.navbar-other -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pt-md-14 pb-14 pb-md-0">
            <div class="row gx-md-8 gx-lg-12 gy-3 gy-lg-0 mb-13">
                <div class="col-lg-6">
                    <h1 class="display-1 fs-66 lh-xs mb-0">Мы бесплатно вывозим бытовую технику и скупаем
                        радиодетали</h1>
                </div>
                <!-- /column -->
                <div class="col-lg-5 fw-bold">
                    <br class="lead fs-25 my-3">Если вы хотите сдать бытовую технику - закажите обратный звонок или
                   <a href="#" class="more hover link-green">узнайте подробности</a></p>
                      <a href="#" class="btn btn-violet rounded-pill mb-2 me-1" data-bs-toggle="modal" data-bs-target="#modal-01">Заказать звонок</a>

                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="position-relative formGlobal">
                <div class="calcForm">

                    <form>
                        <div id="calcForm">


                        </div>
                        <div class="form-row calcItemSec">
                                <a onclick="addNewProduct()" class="btn sec-button rounded-pill mb-2 me-1">+</a>

                           <div>
                               <a class="btn btn-violet rounded-pill mb-2 me-1" onclick="senddata()" data-bs-toggle="modal" data-bs-target="#modal-02">Оформить продажу</a>
                               <span class="badge bg-yellow rounded-pill summarycalc">Итого: <span id="finalprice">0</span></span>

                           </div>
                           </div>
                    </form>
                </div>
                <div class="shape bg-dot primary rellax w-17 h-21" data-rellax-speed="1"
                     style="top: -2.5rem; right: -2.7rem;"></div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container pt-15">
            <div class="row gx-md-5 gy-5 mt-n18  ">
                <div class="col-md-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src={% static "img/icons/user.svg" %}
                                 class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt=""/>
                            <h4>Скупка радиодеталей у физических<br/>лиц</h4>
                            <p class="mb-2">Более 10-ти приемных пунктов по всей Беларуси. Выездные заготовки в любом регионе</p>
                            <a href="{% url 'skupka' %}" class="more hover link-yellow">Прайс-лист</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src={% static "img/icons/briefcase-2.svg"%} class="svg-inject icon-svg icon-svg-md text-green mb-3"
                                 alt=""/>
                            <h4>Определение технического состояния</h4>
                            <p class="mb-2">Мы предлагаем помощь по оценке и документальному сопровождению списания вычислительной техники</p>
                            <a href="#" class="more hover link-green">Подробнее</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src={% static "img/icons/briefcase-2.svg"%} class="svg-inject icon-svg icon-svg-md text-green mb-3" alt=""/>
                            <h4>Переработка лома и отходов драг металлов</h4>
                            <p class="mb-2">Электронный лом попадет будет утилизирован в соответствии со всеми требованиями.</p>
                            <a href="#" class="more hover link-green">Подробнее</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src={% static "img/icons/briefcase-2.svg"%} class="svg-inject icon-svg icon-svg-md text-green mb-3" alt=""/>
                            <h4>Утилизация электронного оборудования</h4>
                            <p class="mb-2">Комплексные услуги по переработке электронного оборудования по всей Беларуси</p>
                            <a href="#" class="more hover link-green">Подробнее</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->

            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
<section class="wrapper bg-light">
			<div class="container pt-10">
				<h2 class="display-5 mb-7 center-block">Нам доверяют</h2>
				<div class="carousel owl-carousel clients" data-margin="30" data-loop="true" data-dots="false" data-autoplay="true" data-autoplay-timeout="3000" data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1200":{"items": "6"}, "1400":{"items": "7"}}'>
					<div class="item px-5"><img src={% static "/img/brands/c1.jpg" %} alt="" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c2.jpg" %} alt="" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c3.jpg" %} alt="" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c4.jpg" %} alt="" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c5.jpg" %} alt="" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c6.jpg" %} alt="" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c7.jpg" %} alt="" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c8.jpg" %} alt="" /></div>

				</div>
				<!-- /.owl-carousel -->
			</div>
			<!-- /.container -->
		</section>
    <section class="wrapper bg-light">
            <div class="container py-10">
                <div class="card bg-soft-primary rounded-4">
                    <div class="card-body p-md-10 p-xl-11">
                        <div class="row gx-lg-8 gx-xl-12 gy-10">
                            <div class="col-lg-6">
                                <h3 class="display-4 mb-4">Часто задаваемые вопросы</h3>
                                <p class="lead fs-lg mb-0">РесайклПро имеет сеть приемных пунктов по всей Беларуси. Хотите посмотреть полный список приемных пунктов? — <a href="{% url 'punkty' %}">Жмите сюда!</a></p>
                            </div>
                            <!--/column -->
                            <div class="col-lg-6">
                                <div class="accordion accordion-wrapper" id="accordionExample">
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingOne">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">Режим работы
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                                                    nibh, ut fermentum massa justo sit amet risus.</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingTwo">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Где можно сдать электрообрудование и радиодетали на переработку

                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                             aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                                                    nibh, ut fermentum massa justo sit amet risus.</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingThree">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Условия работы с юридическими и физическими лицами
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                             aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                                                    nibh, ut fermentum massa justo sit amet risus.</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingFour">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Какое оборудование можно сдать на переработку
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseFour" class="accordion-collapse collapse"
                                             aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                                                    nibh, ut fermentum massa justo sit amet risus.</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                </div>
                                <!--/.accordion -->
                            </div>
                            <!--/column -->
                        </div>
                        <!--/.row -->
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!-- /.container -->

        </section>


<section class="wrapper bg-light">
      <div class="container pb-14">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src={% static "img/concept/concept2.png" %} alt=""></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-line text-primary mb-3">Работа с нами</h2>
            <h3 class="display-5 mb-7">A few reasons why our valued customers choose us.</h3>
              <div><p><i class="uil uil-arrow-right"></i><b>РесайклПро производит прием отработанных и вышедших из эксплуатации электронных устройств и радиоэлементов  в любом состоянии.</b> Также мы оказываем услуги по демонтажу, переработке  и сдаче полученных в результате переработки драгметаллов в Госфонд Республики Беларусь.
              </p>
                 <p><i class="uil uil-arrow-right"></i> <b>РесайклПро - лицензированный переработчик</b>
Мы имеем специальное разрешение (лицензию) на право осуществления деятельности, связанной с драгоценными металлами и драгоценными камнями и включены в реестр переработчиков.
</p>
               <p>   <i class="uil uil-arrow-right"></i><b>Работаем напрямую с перерабатывающими предприятиями</b>
                   Благодаря прямым контактам с перерабатывающими предприятиями, РесайклПро принимает электрооборудование и радиодетали по выгодным для вас ценам.</p></div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
</div>


{% endblock %}