{% extends 'base.html' %}
{% load static %}

    {% block page_title %}РесайклПро - переработка электронного оборудования{% endblock %}

    {% block opg %}
    <meta property="og:title" content="«РесайклПро» — Переработка электронных отходов, техники и оборудования" />
    <meta property="og:description" content="ООО «РесайклПро» — переработка и утилизация электронных отходов. ✅ Имеем лицензию. ✅ Включены в реестр переработчиков. ✅ Бесплатный вывоз. ✅ Работаем по взаимозачету. ☎ +375 (29) 110-33-04" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static '/img/logo.png' %}"/>
    {% endblock %}
    {% block scripts %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Режим работы",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Мы принимаем электрообрудование и радиодетали на переработку каждый день. <b>Будние дни</b>: с 08:00 до 20:00; <b>Выходные дни</b>: 08:00 до 19:00.</p>"
        }
      }, {
        "@type": "Question",
        "name": "Где можно сдать электрообрудование и радиодетали на переработку",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>«РесайклПро» работает по всей Беларуси. Подробную информацию о наших приемных пунктах вы можете найти на странице <i>'Пункты приема'</i>. Если вашего города нет в списке, вы можете уточнить информцию у наших менеджеров по телефону <b>+375 (29) 392-44-92</b></p>"
        }
      }, {
        "@type": "Question",
        "name": "Услуги для юридических и физических лиц",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p><b>Для юридических лиц мы предлагаем</b>:<br>- Списание. Определение тех. состояния<br>- Переработку лома и отходов драгметаллов<br>- Переработку (утилизацию) электронного оборудования<br><br><b>Для физических лиц мы предлагаем</b>:<br>- Скупку радиодеталей<br>- Бесплатный вывоз бытовой техники</p>"
        }
      }, {
        "@type": "Question",
        "name": "Какое оборудование можно сдать на переработку",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>Мы принимаем на переработку электрооборудование в полной комплектации (холодильники, стиральные машины, газовые и электроплиты и т.д.)</p>"
        }
      }]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
          {
              "@type": "ImageObject",
              "@id": "{% static 'img/icons/user.svg' %}",
              "url": "{% static 'img/icons/user.svg' %}",
              "contentUrl": "{% static 'img/icons/user.svg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static 'img/icons/briefcase-2.svg' %}",
              "url": "{% static 'img/icons/briefcase-2.svg' %}",
              "contentUrl": "{% static 'img/icons/briefcase-2.svg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c1.jpg' %}",
              "url": "{% static '/img/brands/c1.jpg' %}",
              "contentUrl": "{% static '/img/brands/c1.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c2.jpg' %}",
              "url": "{% static '/img/brands/c2.jpg' %}",
              "contentUrl": "{% static '/img/brands/c2.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c3.jpg' %}",
              "url": "{% static '/img/brands/c3.jpg' %}",
              "contentUrl": "{% static '/img/brands/c3.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c4.jpg' %}",
              "url": "{% static '/img/brands/c4.jpg' %}",
              "contentUrl": "{% static '/img/brands/c4.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c5.jpg' %}",
              "url": "{% static '/img/brands/c5.jpg' %}",
              "contentUrl": "{% static '/img/brands/c5.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c6.jpg' %}",
              "url": "{% static '/img/brands/c6.jpg' %}",
              "contentUrl": "{% static '/img/brands/c6.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c7.jpg' %}",
              "url": "{% static '/img/brands/c7.jpg' %}",
              "contentUrl": "{% static '/img/brands/c7.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static '/img/brands/c8.jpg' %}",
              "url": "{% static '/img/brands/c8.jpg' %}",
              "contentUrl": "{% static '/img/brands/c8.jpg' %}"
          }, {
              "@type": "ImageObject",
              "@id": "{% static 'img/derevo.jpg' %}",
              "url": "{% static 'img/derevo.jpg' %}",
              "contentUrl": "{% static 'img/derevo.jpg' %}"
          }]
    }
    </script>
    {% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="wrapper bg-light">
            <div class="container pt-3">
                <nav aria-label="breadcrumb">
              <ol class="breadcrumb" id="breadcrumblist" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="inactiveLink" itemprop="item" href="/">Домашняя страница</a>
                    <meta itemprop="position" content="1" />
                    <meta itemprop="name" content="Домашняя страница"/>
                </li>
              </ol>
            </nav>
            </div>
    </section>
    <section class="wrapper bg-soft-primary">
        <div class="container pt-3 pt-md-3 pb-14 pb-md-0">
            <div class="row gx-md-8 gx-lg-12 gy-3 gy-lg-0 mb-13">
                <div class="col-lg-6">
                    <h1 class="display-1 fs-66 lh-xs mb-0">Мы бесплатно вывозим бытовую технику и скупаем
                        радиодетали</h1>
                </div>
                <!-- /column -->
                <div class="col-lg-5 fw-bold">
                    <br class="lead fs-25 my-3">Если вы хотите сдать бытовую технику - закажите обратный звонок или
                   <a href="{% url 'vyvoz' %}" class="more hover link-green">узнайте подробности</a></p>
                      <a href="#" class="btn btn-lg btn-primary rounded-pill me-2" data-bs-toggle="modal" data-bs-target="#modal-01">Заказать звонок</a>

                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="position-relative formGlobal">
                <div class="calcForm">
                    <div class="calcheader">Калькулятор стоимости радиодеталей</div>
                    <form>

                        <div id="calcForm">


                        </div>
                        <div class="form-row calcItemSec">
                                <a onclick="addNewProduct()" class="btn sec-button rounded-pill mb-2 me-1">+</a>

                           <div class="calcNavs">
                               <a class="btn sec-button rounded-pill mb-2 me-1" onclick="senddata()" data-bs-toggle="modal" data-bs-target="#modal-02">Оформить продажу</a>
                               <span class="badge bg-yellow rounded-pill summarycalc">Итого: <span id="finalprice">0</span></span>

                           </div>
                           </div>
                    </form>
                </div>
                <div class="shape bg-dot primary rellax w-17 h-21" data-rellax-speed="1"
                     style="top: -2.5rem; right: -2.7rem;"></div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container pt-14">
            <div class="row gx-md-5 gy-5 mt-n18  ">

                <div class="col-md-6 col-xl-3">
                    <span class="fs-15 text-uppercase text-line text-yellow"><strong>Физическим лицам</strong></span>
                    <div class="card shadow-lg">
                        <div class="card-body">

                            <img src="{% static "img/icons/user.svg" %}"
                                 class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt=""/>
                            <div class="h4like">Скупка радиодеталей у физических<br/>лиц</div>
                            <p class="mb-2">Более 10-ти приемных пунктов по всей Беларуси. Выездные заготовки в любом регионе</p>
                            <a href="{% url 'category' %}" class="more hover link-yellow">Прайс-лист</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>

                <!--/column -->


             <div class="col-md-6 col-xl-3">
               <span class="fs-15 text-uppercase text-darkblue text-line "><strong>Юридическим лицам</strong></span>

                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src="{% static "img/icons/briefcase-2.svg"%}" class="svg-inject icon-svg icon-svg-md mb-3" alt=""/>
                            <div class="h4like">Переработка лома и отходов драг металлов</div>
                            <p class="mb-2">Электронный лом попадет будет утилизирован в соответствии со всеми требованиями.</p>
                            <a href="{% url 'yuriki' %}" class="more hover link-green">Подробнее</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                 <div class="col-md-6 col-xl-3">
                    <span class="fs-15 text-uppercase text-line text-darkblue"><strong>Юридическим лицам</strong></span>
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src="{% static "img/icons/briefcase-2.svg"%}" class="svg-inject icon-svg icon-svg-md text-green mb-3"
                                 alt=""/>
                            <div class="h4like">Определение технического состояния</div>
                            <p class="mb-2">Мы предлагаем помощь по оценке и документальному сопровождению списания вычислительной техники</p>
                            <a href="{% url 'spisanie' %}" class="more hover link-green">Подробнее</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-3">
                                        <span class="fs-15 text-uppercase text-line text-darkblue"><strong>Юридическим лицам</strong></span>

                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src="{% static "img/icons/briefcase-2.svg"%}" class="svg-inject icon-svg icon-svg-md mb-3" alt=""/>
                            <div class="h4like">Безвозмездная сдача <br/>техники</div>
                            <p class="mb-2">Комплексные услуги по переработке электронного оборудования по всей Беларуси</p>
                            <a href="{% url 'bezvozm' %}" class="more hover link-green">Подробнее</a>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->

            </div>
            <!--/.row -->

            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
<section class="wrapper bg-light">
			<div class="container pt-10">
				<h2 class="display-5 mb-7 center-block">Нам доверяют</h2>
				<div class="carousel owl-carousel clients" data-margin="30" data-loop="true" data-dots="false" data-autoplay="true" data-autoplay-timeout="3000" data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1200":{"items": "6"}, "1400":{"items": "7"}}'>
					<div class="item px-5"><img src={% static "/img/brands/c1.jpg" %} alt="Название бренда" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c2.jpg" %} alt="Название бренда" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c3.jpg" %} alt="Название бренда" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c4.jpg" %} alt="Название бренда" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c5.jpg" %} alt="Название бренда" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c6.jpg" %} alt="Название бренда" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c7.jpg" %} alt="Название бренда" /></div>
					<div class="item px-5"><img src={% static "/img/brands/c8.jpg" %} alt="Название бренда" /></div>

				</div>
				<!-- /.owl-carousel -->
			</div>
			<!-- /.container -->
		</section>
    <section class="wrapper bg-light">
            <div class="container py-10">
                <div class="card bg-soft-primary rounded-4">
                    <div class="card-body p-md-10 p-xl-11">
                        <div class="row gx-lg-8 gx-xl-12 gy-10">
                            <div class="col-lg-6">
                                <h2 class="display-4 mb-4">Часто задаваемые вопросы</h2>
                                <p class="lead fs-lg mb-0">РесайклПро имеет сеть приемных пунктов по всей Беларуси. Хотите посмотреть полный список приемных пунктов? — <a href="{% url 'punkty' %}">Жмите сюда!</a></p>
                            </div>
                            <!--/column -->
                            <div class="col-lg-6">
                                <div class="accordion accordion-wrapper" id="accordionExample">
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingOne">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">Режим работы
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <br>Мы принимаем  электрообрудование и радиодетали на переработку каждый день.</br>
Будние дни: с 08:00 до 20:00;</br>
Выходные дни: 08:00 до 19:00. </br>
</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingTwo">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Где можно сдать электрообрудование и радиодетали на переработку

                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                             aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>«РесайклПро» работает по всей Беларуси. Подробную информацию о наших приемных пунктах вы можете найти на странице <a href={% url 'punkty' %}>Пункты приема</a>
<br/>Если вашего города нет в списке, вы можете уточнить информцию у наших менеджеров по телефону +375 (29) 392-44-92</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingThree">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Услуги для юридических и физических лиц
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                             aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p><b>Для юридических лиц мы предлагаем:</b><br/>
- Списание. Определение тех. состояния<br/>
- Переработку лома и отходов драгметаллов<br/>
- Переработку (утилизацию) электронного оборудования<br/>

<b>Для физических лиц мы предлагаем:</b><br/>
- Скупку радиодеталей<br/>
- Бесплатный вывоз бытовой техники</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                    <div class="card plain accordion-item">
                                        <div class="card-header" id="headingFour">
                                            <button class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Какое оборудование можно сдать на переработку
                                            </button>
                                        </div>
                                        <!--/.card-header -->
                                        <div id="collapseFour" class="accordion-collapse collapse"
                                             aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Мы принимаем на переработку электрооборудование в полной комплектации (холодильники, стиральные машины, газовые и электроплиты и т.д.)</p>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.accordion-collapse -->
                                    </div>
                                    <!--/.accordion-item -->
                                </div>
                                <!--/.accordion -->
                            </div>
                            <!--/column -->
                        </div>
                        <!--/.row -->
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!-- /.container -->

        </section>


<section class="wrapper bg-light">
      <div class="container pb-14">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src={% static "img/derevo.jpg" %} alt=""></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h3 class="display-5 mb-7">Почему выбирают нас?</h3>
              <div><p><i class="uil uil-arrow-right"></i><b>РесайклПро производит прием отработанных и вышедших из эксплуатации электронных устройств и радиоэлементов  в любом состоянии.</b> Также мы оказываем услуги по демонтажу, переработке  и сдаче полученных в результате переработки драгметаллов в Госфонд Республики Беларусь.
              </p>
                 <p><i class="uil uil-arrow-right"></i> <b>РесайклПро - лицензированный переработчик</b>
Мы имеем специальное разрешение (лицензию) на право осуществления деятельности, связанной с драгоценными металлами и драгоценными камнями и включены в реестр переработчиков.
</p>
               <p>   <i class="uil uil-arrow-right"></i><b>Работаем напрямую с перерабатывающими предприятиями</b>
                   Благодаря прямым контактам с перерабатывающими предприятиями, РесайклПро принимает электрооборудование и радиодетали по выгодным для вас ценам.</p></div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
</div>


{% endblock %}