{% extends 'base.html' %}
{% load static %}

    {% block page_title %}{{ category.cat_name }}{% endblock %}

    {% block opg %}
    <meta property="og:title" content="{{ category.cat_title }}"/>
    <meta property="og:description" content="{{ category.cat_metadesc }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{category.cat_image.url}}"/>
    {% endblock %}
    {% block scripts %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
          {
              "@type": "ImageObject",
              "@id": "{{ product.product_image.url }}",
              "url": "{{ product.product_image.url }}",
              "contentUrl": "{{ product.product_image.url }}"
          }]
    }
    </script>
    {% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="wrapper bg-light">
            <div class="container pt-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb" id="breadcrumblist" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">Домашняя страница</a>
                        <meta itemprop="position" content="1" />
                        <meta itemprop="name" content="Домашняя страница"/>
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="{% url 'category' %}">Каталог</a>
                        <meta itemprop="position" content="2" />
                        <meta itemprop="name" content="Каталог"/>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="inactiveLink" itemprop="item" href="{% url 'products' category.cat_slug  %}">{{ category.cat_name }}</a>
                        <meta itemprop="position" content="3" />
                        <meta itemprop="name" content="{{ category.cat_name }}"/>
                    </li>
                  </ol>
                </nav>
            </div>
    </section>
		<section class="wrapper bg-light">
			<div class="container pt-3 ">
				<div class="row">
					<div class="col-md-8 col-lg-7 col-xl-6 col-xxl-10">
						<h1 class="display-1 mb-3">{{ category.cat_name | capfirst }}</h1>
                        <p class="pe-lg-15 pe-xxl-12">{{ category.cat_short_desc | capfirst }}</p>
					</div>
					<!-- /column -->
   				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /section -->
		<section class="wrapper bg-light">
			<div class="container pb-14">
				<div class="grid grid-view projects-masonry">

					<div class="row gx-md-8 gy-10 gy-md-13">

                        {% for product in category.product_set.all %}
						    <div class="product-div project item col-md-6 col-xl-3 product" id="project{{ product.id }}" data-productid="{{ product.id }}">
                                <div class="post-header">
									<div class="productsheader">{{ product.product_name | capfirst }}</div>
								</div>
							    <figure class="lift rounded mb-6"><img class="productimage" data-productid="{{ product.id }}" src={{ product.product_image.url }} /></figure>
							    <div class="small-desc">
                                    <div>
                                        <strong>{{ product.product_price }} BYN за {{ product.color }}</strong>
                                    </div>
								    {{ product.product_short_desc | capfirst }}
							    </div>
                                <a href="#" class="py-1" data-bs-toggle="modal" data-bs-target="#modal-01">У меня есть такая деталь</a>
						    </div>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="productModalLabel">{{ product.product_name | capfirst }}</h5>
                                    <button type="button" data-productid="{{ product.id }}" class="close modalclose" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <figure class="lift rounded mb-6">
                                        <img src="{{ product.product_image.url }}" />
                                    </figure>
    							    <div class="small-desc">
                                        <div>
                                            <strong>{{ product.product_price }} BYN за {{ product.color }}</strong>
                                        </div>
    								    {{ product.product_short_desc | capfirst | truncatechars:50 }}
							        </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}

					</div>
					<!-- /.row -->
				</div>
				<!-- /.grid -->
			</div>
			<!-- /.container -->
		</section>

		<!-- /section -->
	</div>
	<!-- /.content-wrapper -->

{% endblock %}

{% block extra_scripts %}
    <script>
    $(document).ready(function() {
        let projects = document.querySelectorAll('.productimage');
        for (let i = 0; i < projects.length; i++) {
            let individualProject = projects[i]
            let productId = projects[i].dataset.productid;
            individualProject.onclick = function() {
                $("#productModal" + `${productId}`).modal('show')
            }
        }
        
        let closeButtons = document.querySelectorAll('.close');
        for (let i = 0; i < closeButtons.length; i++) {
            let productId = closeButtons[i].dataset.productid;
            closeButtons[i].onclick = function() {
                $("#productModal" + `${productId}`).modal('hide')
            }
        }
    })
    </script>
{% endblock %}