{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="snippet-9" class="wrapper bg-light wrapper-border">
        <div class="container pt-15 pt-md-17 pb-13 pb-md-15">
            <div class="row gx-lg-0 gy-10 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-6 text-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <figure class="rounded mb-6"><img src="../../assets/img/photos/se1.jpg"
                                                                      srcset="../../assets/img/photos/se1@2x.jpg 2x"
                                                                      alt=""></figure>
                                </div>
                                <!-- /column -->
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mb-3"><i
                                                    class="uil uil-monitor"></i></div>
                                            <h4>Web Design</h4>
                                            <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non
                                                mi porta gravida.</p>
                                            <a href="#" class="more hover link-purple">Learn More</a>
                                        </div>
                                        <!--/.card-body -->
                                    </div>
                                    <!--/.card -->
                                </div>
                                <!-- /column -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /column -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12 order-md-2">
                                    <figure class="rounded mb-6 mb-md-0"><img src="../../assets/img/photos/se2.jpg"
                                                                              srcset="../../assets/img/photos/se2@2x.jpg 2x"
                                                                              alt=""></figure>
                                </div>
                                <!-- /column -->
                                <div class="col-lg-12">
                                    <div class="card mb-md-6 mt-lg-6">
                                        <div class="card-body">
                                            <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mb-3"><i
                                                    class="uil uil-mobile-android"></i></div>
                                            <h4>Mobile Design</h4>
                                            <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non
                                                mi porta gravida.</p>
                                            <a href="#" class="more hover link-purple">Learn More</a>
                                        </div>
                                        <!--/.card-body -->
                                    </div>
                                    <!--/.card -->
                                </div>
                                <!-- /column -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /column -->
                <div class="col-lg-5 offset-lg-1">
                    <h2 class="display-4 mb-3">{{ product.product_name }}</h2>
                    <p>{{ product.product_short_desc }}</p>
                    <a href="#" class="btn btn-purple rounded-pill mt-3">Заказать звонок</a>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="container pb-15 pb-md-17">
            <div class="card">
                <div class="card-footer border-0 position-relative">
                    <a class="collapse-link collapsed stretched-link" data-bs-toggle="collapse"
                       href="#collapse-snippet-9">Подробное описание и харакретистики</a>
                </div>
                <!--/.card-footer -->
                <div id="collapse-snippet-9" class="card-footer p-5 accordion-collapse collapse">
                    {{ product.product_desc }}
                    <!--/.code-wrapper -->
                </div>
                <!--/.card-footer -->
            </div>
            <!--/.card -->
        </div>
        <!-- /.container -->
    </section>
{% endblock %}